* {
  font-family: "Rubik", sans-serif;
}
.custom_Duration {
  transition: all linear 400ms;
}
.hover_Effect:hover {
  transform: scale(1.2);      
}
.loader {          
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #FF9748;
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";        
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}